.background {
    background-color: mediumseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.navbarButton {
    padding: 20px;
    color: white;
    font-size: 20px;
    background-color: black;
    transition: 0.2s ease-in-out;
}

.navbarButton:hover {
    cursor: pointer;
    color: gray;
}

.navbarLink {
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
}

.rightSide {
    display: flex;
    align-items: center;
    color: gray;
}

.cartImage {
    height: 32px;
    width: 32px;
    margin-right: 20px;
}

.title {
    align-self: center;
    margin-left: 20px;
}