.aboutBackground {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.aboutInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    align-content: center;
}
