.toursBackground {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.toursContainer {
    display: flex;
    column-gap: 50px;
}

.toursTitle {
    margin-bottom: 50px;
}